{{- if .Values.webhookConfig.mutating.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ .Release.Name }}-mutatingwebhookconfiguration
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Release.Name }}-dra-webhook-serving-cert
webhooks:
  - name: mutate.hami.io
    admissionReviewVersions: ["v1"]
    clientConfig:
      service:
        name: {{ .Release.Name }}-dra-webhook
        namespace: {{ .Release.Namespace }}
        path: /mutate
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
        scope: '*'
    sideEffects: None
    timeoutSeconds: 10
{{- end }}
